@charset "UTF-8";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  font-display: swap;
  src: url("../fonts/GoogleSans-Medium.woff") format("woff"), url("../fonts/GoogleSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Volkhov";
  font-display: swap;
  src: url("../fonts/Volkhov-Bold.woff") format("woff"), url("../fonts/Volkhov-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.select {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 0px 35px;
}

.select[data-state=active] .select__title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select[data-state=active] .select__content {
  opacity: 1;
  visibility: visible;
}

.select[data-state=active] .select__label + .select__input + .select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 16px 12px 15px;
  font-family: "GoogleSans";
  font-size: 17px;
  color: #212832;
  position: relative;
  cursor: pointer;
}

.select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  display: block;
  width: 9px;
  height: 4.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url("../img/svg/arrow-down.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select__content {
  position: relative;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
}

.select__input {
  display: none;
}

.select__input:checked + label {
  pointer-events: none;
  background-color: #333;
  color: #fff;
}

.select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GoogleSans";
  font-size: 17px;
  color: #212832;
  min-height: 40px;
  max-height: 0;
  padding: 10px 16px 10px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.burger {
  display: none;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 115px;
          flex: 0 0 115px;
  height: auto;
}

.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__main {
  padding: 0px 0px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li:not(:last-child) {
  margin: 0px 65px 0px 0px;
}

.header__link {
  font-family: "GoogleSans";
  font-size: 17px;
  color: #212832;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__btn {
  font-family: "GoogleSans";
  font-weight: 500;
  font-size: 17px;
  color: #212832;
  height: 40px;
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 75px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero {
  min-height: 100vh;
  padding: 105px 0px 105px 0px;
  background: url("../img/mainDecore.png") top right/50% auto no-repeat;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/mainDecoreEllipse.png") top right/contain no-repeat;
  width: 5%;
  height: 50%;
  z-index: -1;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 120px 0px 0px 0px;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #DF6951;
  margin: 0px 0px 25px 0px;
}

.hero__title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 84px;
  line-height: 106%;
  letter-spacing: -0.04em;
  color: #181E4B;
  max-width: 545px;
  margin: 0px 0px 30px 0px;
}

.hero__title span {
  display: inline-block;
  position: relative;
}

.hero__title span:before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: -14%;
  width: 175%;
  height: 12%;
  background: url("../img/mainArrow.png") 0 0/contain no-repeat;
  z-index: -1;
}

.hero__descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 188%;
  color: #5E6282;
  margin: 0px 0px 35px 0px;
  max-width: 477px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__btn {
  font-family: "GoogleSans";
  font-size: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 26px;
  height: 60px;
  background: #F1A501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  margin: 0px 45px 0px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 17px;
  color: #686D77;
}

.hero__play span {
  margin: 0px 0px 0px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__play-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #DF6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__play-btn svg {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.hero__img {
  position: absolute;
  top: 0;
  right: -25px;
  width: 65%;
  height: auto;
}

.hero__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._lock {
  overflow: hidden;
}

@media (max-width: 1182px) {
  .header__list li:not(:last-child) {
    margin: 0px 55px 0px 0px;
  }

  .hero__subtitle {
    margin: 0px 0px 15px 0px;
  }

  .hero__title {
    font-size: 75px;
    margin: 0px 0px 20px 0px;
  }

  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .select {
    margin: 0px 0px 0px 10px;
  }

  .burger {
    margin-left: 25px;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    z-index: 20;
  }

  .burger span {
    background: #212832;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 100px;
  }

  .burger span:first-child {
    left: 0;
    top: 0;
  }

  .burger span:last-child {
    left: 0;
    top: auto;
    bottom: 0;
  }

  .burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background: #fff;
  }

  .burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #DF6951;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    padding: 80px 0px 30px 0px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__nav._active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list li:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .header__link {
    font-size: 24px;
    color: #fff;
  }

  .header__btn {
    margin: 0px 0px 0px 0px;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .hero__btn {
    font-size: 16px;
  }

  .hero__play {
    font-size: 16px;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 991.98px) and (max-width: 1170px) {
  .burger {
    margin-left: calc(15px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767.98px) {
  .hero {
    padding: 80px 0px 60px 0px;
  }

  .hero {
    background: url("../img/mainDecore.png") top right/0% 0% no-repeat;
  }

  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .hero__title {
    font-size: 70px;
    max-width: none;
  }

  .hero__descr {
    font-size: 16px;
    max-width: none;
    margin: 0px 0px 25px 0px;
  }

  .hero__btn {
    font-size: 18px;
  }

  .hero__play {
    font-size: 17px;
  }

  .hero__img {
    display: none;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 479.98px) {
  .header__btn {
    margin: 30px 0px 0px 0px;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    font-size: 20px;
    height: 50px;
    padding: 0 28px;
  }

  .hero {
    padding: 40px 0;
  }

  .hero__subtitle {
    font-size: 14px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .hero__btn {
    font-size: 16px;
    margin: 0px 15px 0px 0px;
    padding: 0 20px;
  }

  .hero__play {
    font-size: 16px;
  }

  .hero__play span {
    margin: 0px 0px 0px 10px;
  }

  .hero__play-btn svg {
    width: 13px;
    height: 13px;
  }

  .hero__play-btn {
    width: 45px;
    height: 45px;
  }
}

@media (any-hover: hover) {
  .select__label:hover {
    background-color: #333;
    color: #fff;
  }

  .header__link:hover {
    color: #DF6951;
  }

  .header__btn:hover {
    border-color: transparent;
  }

  .hero__btn:hover {
    background: #e29b01;
  }

  .hero__play:hover {
    color: #DF6951;
  }
}

.webp .hero{ background: url(../img/mainDecore.webp) top right/50% auto no-repeat; }

.webp .hero:before{ background: url(../img/mainDecoreEllipse.webp) top right/contain no-repeat; }

.webp .hero__title span:before{ background: url(../img/mainArrow.webp) 0 0/contain no-repeat; }

@media (max-width: 767.98px){

  .webp .hero{ background: url(../img/mainDecore.webp) top right/0% 0% no-repeat; }
}