// colors
$white: #fff;
$orange: #DF6951;
$gray: #5E6282;
// main font
$fontFamily: 'Poppins', sans-serif;
// sizes
$width: 1170;
$minWidth: 320px;
$maxWidth: 1440;
$md1: $width + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;